html, body {
    font-family: "Inter", sans-serif;
    background-color: #3A3E6C; 
    color: #bfc0d1; 
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

main {
    margin: auto;
    padding: 0;
    max-width: 1400px;

}

.container {
    display: flex;
    position: relative;
}

.perfil {
    position: fixed;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 64px 0 4rem;
    height: 100vh; 
}

.perfil-image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.perfil-description{
    display: flex;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.perfil-description img {
    width: 2rem;
    height: 2rem;
}

.perfil-resume {
    background-color: #bfc0d1;
    color: #3A3E6C !important; 
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.perfil-footer {
    margin-top: 2rem;
    color: #bfc0d1; 
} 

/* pagina principal */
.posts{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 0.9fr;
    width: 100%;
    max-width: calc(100% - 280px);
    margin: 80px 0 0 280px;
    padding: 2rem;
    box-sizing: border-box; 
}

#searchInput{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    line-height: normal;               
    letter-spacing: 0;
    padding: 0;
    margin: 0 0 0 2rem;
    color: #3A3E6C; 
}

.title-Main {
    padding: 0;
    margin: 1rem 0 0 2rem;
    border-bottom: #bfc0d1 1px solid;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.post-item {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 2rem;
    box-sizing: border-box;  
}

.post-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0; 
}

.post-details {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem 1rem;
}

.post-date {
    flex: 0 0 auto;  
    margin-right: 1rem;
}

.post-tags{  
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: #bfc0d1;
    color: #3A3E6C;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}


a, a:visited, a:hover, a:active {
    color: inherit;        
    text-decoration: none; 
}

/* publication: estrutura do conteúdo de cada post */
.publication {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 80px 0 0 280px;
    padding: 2rem;
    box-sizing: border-box;

}

.publication-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0;
}

.publication-title h1 {
    font-size: 2rem;
    line-height: normal;               
    letter-spacing: 0;                 
    margin: 0;      
}

.publication-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem 1rem;
}

.publication-date{
    flex: 0 0 auto;  
    margin-right: 1rem;
}

.publication-tags{ 
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

 

@media (max-width: 760px) {
    main{
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
    .container {
        flex-direction: column;
    }

    .perfil {
        position: relative; 
        margin: auto;
        height: auto;
        padding: 2rem 1rem; 
        gap: 1rem;
    }

    .posts {  
        max-width: 100%;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: 1rem 0;
        box-sizing: border-box;
 
    }

    #searchInput, .title-Main { 
        width: 100%;
        margin: 0; 
        box-sizing: border-box;
    }

    ul { 
        margin: 0; 
    } 
  
    .post-item {        
        max-width: 100%; 
        margin: 0;
        padding: 1rem 0;
        box-sizing: border-box;
    }

    .post-title {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0;
    }

    .post-details {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.5rem 1rem;
        width: 100%; 
        padding-top: 0.5rem;
    }

    .post-date {
        flex: 0 0 auto;  
        margin-right: 1rem;
    }

    .post-tags {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .publication {  
        max-width: 100%;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: 1rem 0;
        box-sizing: border-box;
    }

    .publication-title {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0;
    }

    .publication-tags p {
        margin: 0.2rem 0; 
    }

    .content-publication {
        margin-top: 1rem;
    }
}
