---
layout: layout.njk
title: "Evandro Martins"
pageType: home
---

<section class="posts">
  <input type="text" id="searchInput" placeholder="Buscar posts..." />
  <h1 class="title-Main"></h1> 
  
  <ul>
    {% for post in collections.post | reverse %}
      <li class="post-item">
        <div class="post-title">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </div>

        <div class="post-details">
          <div class="post-date">          
            <small>{{ post.date | date("dd/MM/yyyy") }}</small>
          </div>

          <div class="post-tags">
            {% for tag in post.data.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div> 
        </div>
      </li>
    {% endfor %}
  </ul>
</section>


<script>
  const searchInput = document.getElementById("searchInput");
  const postItems = document.querySelectorAll(".post-item");

  searchInput.addEventListener("input", () => {
    const query = searchInput.value.toLowerCase();

    postItems.forEach(item => {
      const text = item.textContent.toLowerCase();
      item.style.display = text.includes(query) ? "block" : "none";
    });
  });
</script>
