---
layout: layout.njk
pageType: curriculum
title: "Evandro Martins"
---

<section class="resume">
    <div class="resume-title">
        <h1>Currículo - {{ title }}</h1>    
    </div>
    <div class="resume-contact">
        (88) 9 8108-0083
        <a href="mailto: evandro.filho.martins@outlook.com"> evandro.filho.martins@outlook.com </a>        
        <a href="linkedin.com/in/martinsevandro" target="_blank" rel="noopener noreferrer">linkedin.com/in/martinsevandro</a>
        <a href="github.com/martinsevandro" target="_blank" rel="noopener noreferrer">github.com/martinsevandro</a>
    </div>
        <div class="resume-summary">
            <p>
                Sou Engenheiro de Computação formado pela Universidade Federal do Ceará (UFC), Campus Sobral. <br>
                Tenho interesse em ciência, análise e engenharia de dados, com experiência em Python, especialmente em projetos de extensão e pesquisa. <br>
                Meu TCC foi sobre Mineração de Dados Educacionais e Learning Analytics. Atualmente, estudo Engenharia de Dados, com foco em ETL, construção de pipelines e processamento de grandes volumes de dados.<br>
                Também tenho experiência com JavaScript para aplicações web e com a linguagem C aplicada a algoritmos e estruturas de dados. <br>
                Gosto de estudar as diversas áreas da computação e de entender como elas se conectam.
            </p> 
        </div>
    <div class="resume-categories">
        <div class="esq-categories"> 
            <div class="resume-education">
                <section>
                    <h2>Educação</h2>

                        <article>
                            <h3>Bacharelado em Engenharia de Computação</h3>
                            <p><small>Universidade Federal do Ceará, Campus Sobral (2016 - 2024)</small></p> 
                        </article>

                        <article> 
                            <h3>Curso Profissionalizante em Redes de Computadores</h3>
                            <p><small>EEEP Francisca Castro de Mesquita (2013 - 2015)</small></p> 
                        </article>

                        <article> 
                            <h3>Certificação: Fundamentals of Deep Learning (Workshop)</h3>
                            <p><small>NVIDIA (2024)</small></p>  
                        </article>

                </section>
            </div>            
            <div class="resume-projects">
                <section>
                    <h2>Projetos Relevantes</h2>

                    <article>
                        <header>
                            <h3>Indicadores de Desempenho Escolar: Uma Abordagem Baseada em Visualização de Dados</h3> 
                            <p><small>Universidade Federal do Ceará, Campus Sobral (2024)</small></p>
                        </header> 
                        <p> Dashboard interativo desenvolvido no TCC para análise de dados históricos de alunos do 9º ano do ensino fundamental, 
                        permitindo a visualização de indicadores educacionais, como notas bimestrais detalhadas, taxas de aprovação e identificação de períodos de baixo rendimento. </p>
                        <dl>
                            <dt>Principais tecnologias:</dt>
                            <dd>Python, Pandas, Plotly, Dash.</dd>
                        </dl>
                    </article>

                    <article>
                        <header>
                            <h3>Mandacaru.dev - Ibiapaba: Ciência de Dados</h3> 
                            <p><small>UFC e B3 (2023)</small></p>
                        </header>
                        <p> Programa intensivo voltado para soluções no setor financeiro. No projeto final, realizamos uma análise de sentimentos com NLP, 
                        testando sete modelos de machine learning. O Naive Bayes apresentou o melhor desempenho (acurácia: 73,62%, precisão: 75%, recall: 92,7%, F1-score: 71,9%).
                        </p>
                        <dl> 
                            <dt>Principais tecnologias:</dt>
                            <dd>Python, Pandas, NumPy, NLTK, Scikit-learn, Matplotlib, Altair, Seaborn.</dd>
                        </dl>
                    </article>

                </section>

            </div>
            <div class="resume-experience">
                <section>
                    <h2>Experiência Profissional</h2>

                        <article>
                            <h3>Estagiário de Laboratório de Tecnologia da Informação</h3>
                            <p><small>Online Telecom (2022)</small></p>
                            <p> Provedor regional de internet e serviços no Nordeste do Brasil, com setor técnico voltado à configuração, recuperação e otimização de equipamentos de rede.</p>
                            <p>Atividades:</p>
                            <ul class="resume-experience-list"> 
                                <li>Recuperação e padronização de dispositivos com falha, otimizando firmware e processos de diagnóstico.</li>
                                <li>Análise e reconfiguração de mais de 12.000 equipamentos (ONTs, ONUs, SXT e roteadores).</li> 
                            </ul>
                        </article> 

                        <article>
                            <h3>Desenvolvedor Front-End</i></h3>
                            <p><small>Loading Jr - UFC (2018 - 2019)</small></p>  
                            <p>Empresa Júnior do curso de Engenharia de Computação da UFC, Campus Sobral, onde estudantes atuam em projetos reais, desenvolvendo habilidades técnicas 
                                e de gestão em um ambiente colaborativo entre áreas como marketing, desenvolvimento e liderança.</p>                            
                            <p>Atividades:</p>
                            <ul class="resume-experience-list"> 
                                <li>Desenvolvimento de websites responsivos, aplicando boas práticas de front-end com HTML, CSS e JavaScript.</li> 
                                <li>Organização de workshops e reuniões estratégicas.</li>
                                <li>Participação em brainstorms de marketing e definição de projetos.</li>
                                <li>Desenvolvimento de habilidades de trabalho em equipe, liderança, negociação e comunicação interpessoal.</li> 
                            </ul>                             
                        </article>

                </section>


            </div>
        </div>    
        <div class="dir-categories">
            <div class="resume-skills">
                <section>
                    <h2>Habilidades</h2>
                    <article>
                        <h3>Programação e Desenvolvimento</h3>
                        <ul class="skills-list">
                            <li class="skill">JavaScript</li>
                            <li class="skill">Python</li>
                            <li class="skill">C</li>
                            <li class="skill">PostgreSQL</li>
                            <li class="skill">SQLite</li>
                            <li class="skill">MongoDB</li>
                            <li class="skill">Git</li>
                            <li class="skill">GitHub</li> 
                            <li class="skill">Docker</li>
                        </ul>
                    </article>

                    <article>
                        <h3>Engenharia e Ciência de Dados</h3>
                        <ul class="skills-list">
                            <li class="skill">ETL</li>
                            <li class="skill">Pandas</li>
                            <li class="skill">NumPy</li>
                            <li class="skill">Scikit-learn</li>
                            <li class="skill">NLTK</li>
                            <li class="skill">NLP</li>
                            <li class="skill">Learning Analytics</li>
                            <li class="skill">Mineração de Dados</li>
                        </ul> 
                    </article>

                    <article>
                        <h3>Visualização de Dados</h3>
                        <ul class="skills-list">  
                            <li class="skill">Plotly</li>
                            <li class="skill">Dash</li> 
                            <li class="skill">Power BI</li>
                            <li class="skill">Matplotlib</li>
                            <li class="skill">Seaborn</li> 
                            <li class="skill">Altair</li> 
                        </ul> 
                    </article>

                    <article> 
                        <h3>Metodologias Ágeis e Qualidade de Código</h3>
                        <ul class="skills-list">
                            <li class="skill">Scrum</li>
                            <li class="skill">Kanban</li>
                            <li class="skill">BDD</li>
                            <li class="skill">Testes Unitários</li>
                            <li class="skill">Testes de Integração</li>
                        </ul>
                    </article>

                </section>
                
            </div>
            <div class="resume-interests">
                <section> 
                    <h2>Interesses</h2>
                    <article>
                    <ul class="skills-list">
                        <li class="skill">Machine Learning</li>
                        <li class="skill">Análise de Dados</li>
                        <li class="skill">Ciência de Dados</li>
                        <li class="skill">Engenharia de Dados</li> 
                        <li class="skill">Desenvolvimento Web</li>
                    </ul>
                    </article>
                </section>
            </div>
            <div class="resume-languages">
                <section>
                    <h2>Idiomas</h2>

                    <article>
                        <span class="language ">Português: </span>
                        <span class="skill">Nativo</span> 
                    </article>

                    <article> 
                        <span class="language ">Inglês: </span>
                        <span class="skill">Intermediário</span> 
                    </article>
                </section>
            </div>
        </div>
    </div>
</section> 