<div class="perfil">
    <a href="/" class="perfil-link"> 
        <img src="/assets/imgs/perfil-ef.png" alt="Foto de perfil" class="perfil-image"/>
        <h2 class="my-name">Evandro Martins</h2>
    </a>

    <ul class="perfil-description"> 
        <li>
            <a href="https://github.com/martinsevandro" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/github-darkmode.png" alt="GitHub" class="perfil-icon" />
            </a>
        </li>
        <li>
            <a href="https://linkedin.com/in/martinsevandro" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/linkedin-darkmode.png" alt="LinkedIn" class="perfil-icon" />
            </a>
        </li>
    </ul>

    <a href="/resume" class="perfil-resume">RESUME</a>

    <span class="perfil-footer">© 2025</span>
    
</div>